[submodule "models/NeuralRecon"]
	path = models/NeuralRecon
	url = https://github.com/leonrohe/NeuralRecon.git
[submodule "models/SLAM3R"]
	path = models/SLAM3R
	url = https://github.com/leonrohe/SLAM3R.git
[submodule "models/MASt3R-SLAM"]
	path = models/MASt3R
	url = https://github.com/leonrohe/MASt3R-SLAM.git
[submodule "models/MASt3r"]
	path = models/MASt3r
	url = https://github.com/rmurai0610/MASt3R-SLAM.git
